@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d0221;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Courier New", Courier, monospace;
  /* Terminal font */
  overflow-x: hidden;
}

/* CRT Scanline Effect */
.scanline::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom,
      rgba(18, 16, 16, 0) 50%,
      rgba(0, 0, 0, 0.25) 50%);
  background-size: 100% 4px;
  z-index: 50;
  pointer-events: none;
}

/* Glitch Text Effect */
.glitch-text {
  position: relative;
}

.glitch-text::before,
.glitch-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch-text::before {
  left: 2px;
  text-shadow: -1px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch-text::after {
  left: -2px;
  text-shadow: -1px 0 #00fff9;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim2 5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(14px, 9999px, 127px, 0);
  }

  20% {
    clip: rect(66px, 9999px, 17px, 0);
  }

  40% {
    clip: rect(104px, 9999px, 122px, 0);
  }

  60% {
    clip: rect(4px, 9999px, 16px, 0);
  }

  80% {
    clip: rect(49px, 9999px, 137px, 0);
  }

  100% {
    clip: rect(113px, 9999px, 5px, 0);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(129px, 9999px, 36px, 0);
  }

  20% {
    clip: rect(3px, 9999px, 4px, 0);
  }

  40% {
    clip: rect(7px, 9999px, 110px, 0);
  }

  60% {
    clip: rect(123px, 9999px, 4px, 0);
  }

  80% {
    clip: rect(1px, 9999px, 108px, 0);
  }

  100% {
    clip: rect(27px, 9999px, 13px, 0);
  }
}